* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	color: #39a39a;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	
}
p {
	text-align: justify;
}
ul {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	background-color: #aeafb3;
	padding-bottom: 30px; 
    padding-top: 30px;
	font-family: Montserrat;
}

@media screen and (max-width:768px) {
	body {
		padding-bottom: 0; 
    	padding-top: 0;
	}
	
	}



.main-paper {
	position: relative;
	max-width: 420px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff;

}

@media screen and (min-width:421px) {
	.main-paper {
		/* width: 100%; */
	background-color: #fff;
	display: flex;
	max-width: 1030px;
	padding: 15px;
	
	box-shadow: -100px 100px 60px rgba(0, 0, 0, 0.35);
	}
	
	}
	@media screen and (min-width:768px) {
	.main-paper {
	 margin-left: auto;
	 margin-right: auto;
	}
	
	}



.aside-main-conteiner {
	
	background-color: #4e4e4e;
	color: #fff;
	padding-bottom: 10px;
}


@media screen and (min-width:421px) {
	.aside-main-conteiner {
	/* min-width: 370px; */
	
	color: #fff;
	}
	
	}

.my-photo {
	
	width: 100%;
	background-color: #fff;
	margin-bottom: 100px;
	height: 400px;
	object-fit: cover;
	

}
@media screen and (min-width:421px) {
	.my-photo  {
	margin-bottom: 0;
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
	}
	
	}


.aside-wrapper {
	padding: 0 15px 0 25px;
    
}

@media screen and (min-width:421px) {
	.aside-wrapper  {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
		margin-bottom: 0;
	}
	
	}
	@media screen and (min-width:769px) {
	.aside-wrapper  {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	}
	
	}
    


.main-content-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
} 

.about-me-conteiner {
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
}

/* @media screen and (min-width:421px) and (max-width:768px) {
	.about-me-conteiner {
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 60px;
		padding-top: 60px;
	}
	
	} */
	@media screen and (min-width:769px) {
	.about-me-conteiner {
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 60px;
		padding-top: 60px;
	}
	
	}




.wrapper-main-title {
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 10px;
}
.my-contacts {
	color: #39a39a;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

.cont-title {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	margin-right: 10px;
}

.t-h-title {
	color: #30d5c8;

	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-left: 15px;
}
.t-h-title-txt {
	color: #fff;
	
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;

} 

.my-name-container {
	color:#fff;
	position:absolute;
	top: 420px;
	left: 20px;
	width: 100%;

}


@media screen and (min-width:421px) {
	.my-name-container {
	position: static;
	display: block;
	width: 100%;
	/* height: 400px; */
	object-fit: cover;
	}
	
	}

	.my-name {
	

}
@media screen and (min-width:421px) {
	.my-name {
	color: #000000;
	font-size: 45px;
	font-weight: 700;
	}
	
	}



.my-info-1st-title {
  color: #39a39a;
}

@media screen and (min-width:421px) {
	.my-info-1st-title {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 40px;
	}
	
	}
 

 .expirience-title {
	
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;

}
	
.place-prof-title {
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-top: 10px;

}

.education-prof-title {
	color: #39a39a;

}
.Prof-title-time {
	display: inline-block;

	color: #a8a8a8;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 15px;
}

.education-container {
	padding-left: 20px;
	padding-top: 30px;
}
.drun {
	color: #000000;
}
 .work-txt {
	color: #aeafb3;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 14px;
	padding-left: 20px;
}

@media screen and (min-width:421px) {
	.work-txt {
	list-style: none;
	color: #595959;
	}
	
	}
.manager {
	color: #000000;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}
.expirience-text {
	color: #595959;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
} 
